
    <!-- Section: Design Block -->
<section class="text-center">
    
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          height:200px;">
    </div>

    <!-- Background image -->
  <div class="card mx-4 mx-md-5 img-bkg">
      <div class="card-body py-5 px-md-5">
        <div class="container">
          <div class="card">
              <div class="card-body">
                  <h1 style="font-size: 25px;">Sorteo Ecosistemas 2022</h1> 
              </div>
              <div class="card-body border ">
                <div >
                    <h3>El ganador es:</h3>
                  </div>
              </div>
              <div class="card-body border d-flex justify-content-center align-items-center" style="height: 40vh;">
                <div >
                    <h2 style="font-size: 4em" id="textoGanador"></h2>
                  </div>
              </div>
          </div>
        
        <div>
          <button type="button" id="sorteador" class="btn btn-eco btn-primary btn-block mt-4 mb-4 btn-lg"  >Sortear</button>
          
        </div>

        <div>
           <a href="/admin" class="btn btn-primary mt-2">volver</a>
        </div>
        
       
        
       </div>
    </div>
</section>